#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://172.16.1.6:8188/centos8"
# For a fully automatic installation, you must either specify one of the available modes (graphical, text, or cmdline) in the Kickstart file graphical
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=be-oss --xlayouts='be (oss)'
# System language
lang nl_BE.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Ty/ZQZPBIsC9m0uL$qf2tMSYu348WOgUw41zMrGPzzS1v6tWRxJx3HReyL4PwTttSJAd5oQzy83hF4EA7bAkOZ9zhoLr3NT10XIHt/0
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Brussels --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdb

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

