[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_directory }}/node_exporter
WorkingDirectory={{ node_exporter_directory }}

[Install]
WantedBy=multi-user.target